<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979563682088-re29t7mmuimp4vgvrm5j2eb0m8g1iu02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979563682088-re29t7mmuimp4vgvrm5j2eb0m8g1iu02</string>
	<key>API_KEY</key>
	<string>AIzaSyC6-SnPgpAgikLCsJR-b2wyonkC2ql0w6o</string>
	<key>GCM_SENDER_ID</key>
	<string>979563682088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ec6cc</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ec6cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979563682088:ios:e4420543daa8d83a25981d</string>
</dict>
</plist>